{:deps
 {org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2"
                           :sha "0456614f111b419b54f6fa75114cf428a3cfbe06"}}
 :aliases
 {:test {:extra-paths ["test"]}
  :humane {:extra-deps {pjstadig/humane-test-output {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
