{:deps
 {org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2"
                           :sha "f4c2f6785222dd52e16741d9d0d9ae26bdbb1703"}}
 :aliases
 {:test {:extra-paths ["test"]}
  :humane {:extra-deps {pjstadig/humane-test-output {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
