{:deps {org.clojure/clojure {:mvn/version "1.8.0"}}
 :aliases
 {:1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}
  :test {:extra-paths ["test"]}
  :humane {:extra-deps {pjstadig/humane-test-output {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :cljdoc {:extra-deps {planck/planck {:mvn/version "2.23.0"}}}
  :cljs-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"},
                pjstadig/humane-test-output {:mvn/version "0.10.0"}},
   :extra-paths ["src" "test" "cljs-test-runner-out/gen"],
   :main-opts ["-m" "cljs-test-runner.main" "--doo-opts"
               "dooopts.edn" "-x" "planck"]}
  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "1.0.97"}}
   :main-opts ["-m" "hf.depstar.jar" "expectations.jar"]}
  :deploy
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "expectations.jar"]}}}
