{:linters
 {:consistent-alias
  {:aliases
   ;; straw man for some standardization:
   {clojure.string str}}

  :missing-docstring {:level :warning}

  :single-key-in {:level :warning}

  :unsorted-required-namespaces {:level :error}}

 :config-paths ["com.github.seancorfield/expectations"]}
