{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changes" {:file "CHANGELOG.md"}]
                   ["Getting Started" {:file "doc/getting-started.md"}]
                   ["Collections" {:file "doc/collections.md"}]
                   ["Useful Predicates" {:file "doc/useful-predicates.md"}]
                   ["Expecting More" {:file "doc/more.md"}]
                   ["Expecting Side Effects" {:file "doc/side-effects.md"}]
                   ["Fixtures & Focused Execution" {:file "doc/fixtures-focus.md"}]]}
